.about {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../public/about-bg2.svg');
}

.intro {
    font-family: var(--font-rubik);
    font-size: 2rem;
}

.myname {
    color: #062C30;
    /* background-color: red; */
    box-shadow: inset 0 -1.5rem #E2D784;
}

.aboutme {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whoami {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    text-align: justify;
    font-family: var(--font-rubik);
    font-size: 1.5rem;
    color: #062C30;
}

.aboutinfo > span {
    font-family: var(--font-rubik);
    color: #4200dd;
}

.skillSet {
    font-family: var(--font-rubik);
    font-size: 1.5rem;
    /* display: flex;
    max-width: 800px;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem; */
    text-align: center;
    align-self: center;
    width: 60%;
    min-width: 400px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill {
    margin: 2rem;
    padding: 1.2rem;
    border : 1px solid #062C30;
    text-align: center;
}

.github {
    font-family: var(--font-rubik);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

@media screen and (max-width: 1000px) {
    .aboutme, .top {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }
}

@media screen and (max-width: 570px) {
    .top > img {
        width: 350px;
        height: 317.5;
    }
}