.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-family: var(--font-rubik);
}

.contact > h1 {
    font-size: 2rem;
}

.socials {
    list-style: none;
}

.socials > li > a {
    display: flex;
    align-items: center;
    margin: auto;
}

.socials > li > a > img {
    margin: 0 0.5rem;
}

.highlight {
    color: #062C30;
    /* background-color: red; */
    box-shadow: inset 0 -1rem #E2D784;
}

