.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: calc(100vh - 8rem); */
  padding: 0 0.5rem;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center; */
  height: 75vh;
  background-image: url('../../public/home.svg');
  font-family: var(--font);
}

.title {
  font-size: 50px;
  display: flex;
  min-width: 400px;
}

.typewriter {
  background-color: yellow;
  /* display: inline; */
  padding-left: 5px;
}

.resume{
  font-family: var(--font-rubik);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: white;
  color: #152425;
  background-color: #112323;
  background-color: rgba(228, 228, 21, 0.924);

  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .title {
    flex-direction: column;
    align-items: center;
    min-width: 0;
  }
}
