.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-rubik);
}

.experiences {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background: url('../../public/Sprinkle.svg'); */
}

.experiences > h1 {
    font-size: 2rem;
    font-size: 2rem;
}

.highlight {
    color: #062C30;
    /* background-color: red; */
    box-shadow: inset 0 -1rem #E2D784;
}

.experience {
    /* border: 1px solid #000000; */
    min-height: 30vh;
    max-width: 1200px;
    margin: 2rem 0;
    /* color: white; */
    /* background: url('../../public/home.svg'); */
}

.experience > h1 {
    font-size: 1.5rem;
    line-height: 60%;
}

.experience > h2 {
    font-size: 1.25rem;
    line-height: 60%;
}

.experience > h3 {
    font-size: 1rem;
    line-height: 60%;
}

.experience > ul {
    list-style: none;
}

.experience > ul > li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('../../public/bullet.svg');
    background-size: cover;
}

.tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem; */
}

.tags > span {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #000000;
}